/* Styles go here */

body {
  background: rgb(59, 245, 22);

}

.token {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  display: inline-block;
}

h1 {
  color: white;
}

h5 {
  color: white;
}

.container-fluid {
  background-color:  rgb(27, 24, 24);
}

button {
  background-color: rgb(226, 243, 222);
  border-radius: 5px;
  font-size: 15px;
}

footer {
  margin-top: 170px;
  margin-left: 700px;
}

/* .text-muted {
  color: white;
} */